@{
    var userEmail = ViewData["userEmail"];
   var userRole = Context.Session.GetString("Role"); 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BitirmeApp3</title>
     <link rel="icon" href="~/AdminLayout/images/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="~/AdminLayout/css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="~/AdminLayout/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="~/AdminLayout/css/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="~/AdminLayout/css/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="~/AdminLayout/css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="~/AdminLayout/css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="~/AdminLayout/css/custom.css" />
   
</head>
 <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="index.html"><img class="logo_icon img-responsive" src="~/AdminLayout/images/logo/logo_icon.png" alt="#" /></a>
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                  
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  
                  <ul class="list-unstyled components">
                     <li class="active">
                        <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
                        <ul class="collapse list-unstyled" id="dashboard">
                           <li>
                              <a href="dashboard.html">> <span>Default Dashboard</span></a>
                           </li>
                           <li>
                              <a href="dashboard_2.html">> <span>Dashboard style 2</span></a>
                           </li>
                        </ul>
                     </li>
                
                    @if (User.IsInRole("Admin")){
                     <li><a asp-controller="Roles" asp-action="Index"><i class="fa fa-briefcase blue1_color"></i> <span>Roles</span></a></li>
                   
                     <li><a asp-controller="Users" asp-action="Index"><i class="fa fa-briefcase blue1_color"></i> <span>Users</span></a></li>
                     <li><a asp-controller="Admin" asp-action="Advertisement"><i class="fa fa-table purple_color2"></i> <span>İlan Başvuruları</span></a></li>
                     <li><a asp-controller="Admin" asp-action="GelenMesajlar"><i class="fa fa-clone yellow_color"></i> <span>Gelen Mesajlar</span></a></li>
                     <li><a asp-controller="Admin" asp-action="SiteSettings"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
                     }
                     <li><a asp-controller="Duyuru" asp-action="Index"><i class="fa fa-clone yellow_color"></i> <span>Duyurular</span></a></li>

                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="index.html"><img class="img-responsive" src="~/AdminLayout/images/logo/logo.png" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <ul>
                                
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a asp-controller="AdminAdvertisement" asp-action="ViewMessages"><i class="fa fa-envelope-o"></i><span class="badge"></span></a></li>
                              </ul>
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" /><span class="name_user">@userEmail</span></a>
                                    <div class="dropdown-menu">
                                         @if (User.IsInRole("il Müdürlüğü")){
                                       <a class="dropdown-item" asp-controller="Admin" asp-action="Hesabım" >My Profile</a>
                                 }
                                       <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
               <!-- dashboard inner -->
               @RenderBody()
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="~/AdminLayout/js/jquery.min.js"></script>
      <script src="~/AdminLayout/js/popper.min.js"></script>
      <script src="~/AdminLayout/js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="~/AdminLayout/js/animate.js"></script>
      <!-- select country -->
      <script src="~/AdminLayout/js/bootstrap-select.js"></script>
      <!-- owl carousel -->
      <script src="~/AdminLayout/js/owl.carousel.js"></script> 
      <!-- chart js -->
      <script src="~/AdminLayout/js/Chart.min.js"></script>
      <script src="~/AdminLayout/js/Chart.bundle.min.js"></script>
      <script src="~/AdminLayout/js/utils.js"></script>
      <script src="~/AdminLayout/js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="~/AdminLayout/js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="~/AdminLayout/js/custom.js"></script>
      <script src="~/AdminLayout/js/chart_custom_style1.js"></script>
       @RenderSection("Scripts", required: false)
   </body>
</html>
