<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>login </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="~/AdminLayout/images/fevicon.png" type="~/AdminLayout/image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="~/AdminLayout/css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="~/AdminLayout/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="~/AdminLayout/css/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="~/AdminLayout/css/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="~/AdminLayout/css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="~/AdminLayout/css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="~/AdminLayout/css/custom.css" />
      <!-- calendar file css -->
      <link rel="stylesheet" href="~/AdminLayout/js/semantic.min.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="inner_page login">
      
       @RenderBody()
      <!-- jQuery -->
      <script src="~/AdminLayout/js/jquery.min.js"></script>
      <script src="~/AdminLayout/js/popper.min.js"></script>
      <script src="~/AdminLayout/js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="~/AdminLayout/js/animate.js"></script>
      <!-- select country -->
      <script src="~/AdminLayout/js/bootstrap-select.js"></script>
      <!-- nice scrollbar -->
      <script src="~/AdminLayout/js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="~/AdminLayout/js/custom.js"></script>
   </body>
</html>