@{
    ViewData["Title"] = "Hakkımızda";
    Layout="~/Views/Shared/_SiteLayout.cshtml";
}
  <!-- Start Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Hakkımızda</h2>
                  
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="wwwroot/images/nar.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">İşbİrlİĞİ İÇİN  <span> YANINIZDAYIZ</span></h2>
                    <p>


Bizler tarım sektöründeki paydaşlar arasındaki iletişimi güçlendirmeyi ve işbirliğini artırmayı amaçlamaktayız. Çiftçilerin ihtiyaçlarına hızlı ve etkili çözümler sunumak, yatırımcılar doğru projelere yönlendirmek bizim gayemizin en başıdır.</p>
                    
                </div>
            </div>
          
        </div>
    </div>
    <!-- End About Page -->