
@{
    ViewData["Title"] = "Home Page";
    Layout="~/Views/Shared/_AdminLayout.cshtml";
    
}
@model CreateViewModel
    <div class="full graph_head">
         <div class="heading1 margin_0">
         <h2>Kullanıcı Oluştur</h2>
                                    
         <hr>
         </div>
        </div>
     
        
        <form asp-action="Create" method="post" >
        <div class="text-danger" asp-validation-summary="All"></div>

            <div class="mb-3">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" >
            </div>
             <div class="mb-3">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" >
            </div>
            <div class="mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" >
            </div>
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" >
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" >
            </div>
            <div class="mb-3">
            <label asp-for="SelectedCityId"></label>
            <select asp-for="SelectedCityId" class="form-control">
                <option value="">-- Select City --</option>
                @foreach (var city in Model.Cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
            <span asp-validation-for="SelectedCityId" class="text-danger"></span>
            </div>
  
            
        <button type="submit" class="btn btn-primary">Kaydet</button>



        </form>
 